<div class="container">

  <div id="article-modal" class="modal fade">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="commentList">
          </div>
          <hr>
          <div class = "CommentCont">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" id='saveComment' class="btn btn-primary">Save comment</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  {{!-- <div class = "header row"> --}}
  <div class = "row justify-content-center">
    <h1>Scratch</h1>
  </div>
  <div class = "row justify-content-center">
    {{!-- <button id = "home"> Home </button> --}}
    <button id = "scrape">Scrape articles!</button>
    <button id = "savedArticles">Saved</button>
  </div>
  {{!-- </div> --}}
  <div class = "body row justify-content-center">
    <section class = "ArticleCont col-12">
    </section>
  </div>
  <div class = "footer row">
  </div>
</div>

{{#each scripts}}
  <script type="text/javascript" src="{{script}}"></script>
{{/each}}