body {
	background-color: teal;
}

.header{
	height: 150px;
	background-color: red;
}

.body {
	border: 1px solid black;
}

.ArticleCont{

}

.CommentCont{
	/*background-color: gray;*/
}

#titleInput{
	width: 100%;
}

#bodyInput{
	width: 100%;
}
.commentBox{
	border: 1px solid black;
}
